*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:90%;
    max-width:500px;
    background:#fff;
    padding:30px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,.2);
}

h1{
    text-align:center;
    color:#333;
    margin-bottom:25px;
}

.input-box{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:15px;
    border:2px solid #ddd;
    border-radius:10px;
    font-size:16px;
    outline:none;
}

input:focus{
    border-color:#4facfe;
}

button{
    width:55px;
    border:none;
    background:#4facfe;
    color:white;
    font-size:20px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#2196f3;
}

ul{
    margin-top:25px;
}

li{
    list-style:none;
    background:#f4f4f4;
    margin-bottom:12px;
    padding:15px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
}

li.completed{
    text-decoration:line-through;
    color:gray;
    background:#dcdcdc;
}

.delete{
    color:red;
    cursor:pointer;
    font-size:18px;
}
